.local
.vimdid
.viminfo
.gnupg
.fzf
.fzf.bash
.fzf.zsh

.mozilla
.rustup
.wpa_cli_history
ly
.cargo
.cache
.xsession-errors
.zcompdump-*
.zsh_history
.lesshst
.fehbg


Images
Downloads
work
.Xauthority
.bash_history
